/ {
    aliases {
        heartbeat = &led0;
        buzzer = &led1;
        ivdrip = &led2;
        error = &led4;
        button0 = &button0;
        button1 = &button1;
        button2 = &button2;
        button3 = &button3;
        vled2 = &vled2;
        vled3 = &vled3;
    };

    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
            label = "Heartbeat LED";
        };
        led1: led_1 {
            gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
            label = "Buzzer LED";
        };
        led2: led_2 {
            gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
            label = "IV Drip LED";
        };
        led4: led_4 {
            gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
            label = "Error";
        };
    };

    buttons {
        compatible = "gpio-keys";
        button0: button_0 {
            gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Sleep";
        };
        button3: button_3 {
            gpios = <&gpio0 25 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Reset";
        };
    };

    zephyr,user {
        io-channels = <&adc 0>, <&adc 1>;
    };
};

&adc {
    #address-cells = <1>;
    #size-cells = <0>;
    
    vled3: channel@0 {
        reg = <0>; // channel number
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,gain = "ADC_GAIN_1_5";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_AIN0>; // P0.02
        zephyr,resolution = <8>;
    };
    vled2: channel@1 {
        reg = <1>; // channel number
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,gain = "ADC_GAIN_1_5";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_AIN1>; // P0.03
        zephyr,resolution = <12>;
    };
    status = "okay";
};