/ {
    aliases {
        heartbeat = &led0;
        buzzer = &led1;
        ivdrip = &led2;
        alarm = &led3;
        error = &led4;
        button0 = &button0;
        button1 = &button1;
        button2 = &button2;
        button3 = &button3;
    };

    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
            label = "Heartbeat LED";
        };
        led1: led_1 {
            gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
            label = "Buzzer LED";
        };
        led2: led_2 {
            gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
            label = "IV Drip LED";
        };
        led3: led_3 {
            gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
            label = "Alarm LED";
        };
        led4: led_4 {
            gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
            label = "Error";
        };
    };

    buttons {
        compatible = "gpio-keys";
        button0: button_0 {
            gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Sleep";
        };
        button1: button_1 {
            gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Frequency Up";
        };
        button2: button_2 {
            gpios = <&gpio0 24 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Frequency Down";
        };
        button3: button_3 {
            gpios = <&gpio0 25 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Reset";
        };
    };
};